h2, h3 {
    font-style: italic;
}

h1 {
    color: rgb(0, 175, 255);
}

a {
    text-decoration: none;
    color: rgb(15, 150, 255);
}

a:hover {
    font-weight: bold;
}

body {
    background-color: black;
    color: white;
}

p {
    text-align: center;
    font-size: 250%;
}

.extreme {
    font-size: 250%;
    text-align: right;
}

.navzone {
    text-align: left;
}

.content {
    font-size: 150%;
}

.prose {
    font-size: 66%;
}

#head1 {
    text-decoration: underline;
}

#tehlulz {
    text-decoration: line-through;
}
